<a href="https://colab.research.google.com/github/kopatych73/da_homeworks/blob/main/demo_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [ ]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

OperationalError: ignored

In [ ]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[0][0]

0

In [ ]:
import psycopg2
import pandas as pd

import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()


DB_HOST = '178.170.196.15'
DB_USER = 'student0'
DB_USER_PASSWORD = 'student0_password'
DB_NAME = 'sql_ex_for_student0'

conn_psql = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

# request = """ 
# select *
# from product 
# """ 
# df = pd.read_sql_query(request, conn_psql)
# df.to_sql('product', conn)


# request = """ 
# select *
# from printer 
# """ 
# df = pd.read_sql_query(request, conn_psql)
# df.to_sql('printer', conn)


# request = """ 
# select *
# from pc 
# """ 
# df = pd.read_sql_query(request, conn_psql)
# df.to_sql('pc', conn)


# request = """ 
# select *
# from laptop 
# """ 
# df = pd.read_sql_query(request, conn_psql)
# df.to_sql('laptop', conn)

In [ ]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

      name
0      EMP
1  product
2  printer
3       pc
4   laptop

In [ ]:
%%time
pd.read_sql_query("""
select count(*)
from (
  select model, price
  from pc 
union all
  select model, price
  from printer 
union all
  select model, price
  from laptop 
) a
where price > 500
""", conn_psql)

CPU times: user 3.66 ms, sys: 52 Âµs, total: 3.71 ms
Wall time: 174 ms

   count
0     14

In [ ]:

%%time
pd.read_sql_query("""
select count(*)
from (
  select model, price
  from pc 
union all
  select model, price
  from printer 
union all
  select model, price
  from laptop 
) a
where price > 500
""", conn)

CPU times: user 2.24 ms, sys: 1.1 ms, total: 3.34 ms
Wall time: 3.44 ms

   count(*)
0        14

In [ ]:
time (sqlite3) / time (postgreSQL)

In [ ]:
import sys
!{sys.executable} -m pip install sqlitedict

Requirement already satisfied: sqlitedict in /opt/anaconda3/lib/python3.8/site-packages (1.7.0)

In [ ]:
import sqlitedict
import pandas as pd

In [ ]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [ ]:
mydict['key1'] = 'value1'
mydict['key2'] = ['123',123]
mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [ ]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

value1
['123', 123]
Empty DataFrame
Columns: []
Index: []

In [ ]:
!{sys.executable} -m pip install tinydb

Collecting tinydb
  Downloading tinydb-4.4.0-py3-none-any.whl (21 kB)
Installing collected packages: tinydb
Successfully installed tinydb-4.4.0

In [ ]:
from tinydb import TinyDB, Query

In [ ]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

2

In [ ]:
User = Query()
db.search(User.char == 'a')

[{'int': 1, 'char': 'a'}]