<a href="https://colab.research.google.com/github/kopatych73/da_homeworks/blob/main/demo_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()

In [ ]:
request = "CREATE TABLE EMP(id int, name varchar(32), last_name varchar(32))"
c.execute(request)
tables = c.fetchall()

OperationalError: ignored

In [ ]:
c.execute("SELECT count(*) from EMP")
results = c.fetchall()
results[0][0]

0

In [ ]:
import psycopg2
import pandas as pd

DB_HOST = '178.170.196.15'
DB_USER = 'student8'
DB_USER_PASSWORD = 'student8_password'
DB_NAME = 'sql_ex_for_student8'

conn_psql = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

request = """ 
select *
from product 
""" 

df = pd.read_sql_query(request, conn_psql)


import sqlite3
conn = sqlite3.connect('TestDB.db')  
c = conn.cursor()


df.to_sql('product', conn)

In [ ]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

      name
0      EMP
1  product

In [ ]:
pd.read_sql_query("SELECT * from product", conn)

    index maker model     type
0       0     B  1121       PC
1       1     A  1232       PC
2       2     A  1233       PC
3       3     E  1260       PC
4       4     A  1276  Printer
5       5     D  1288  Printer
6       6     A  1298   Laptop
7       7     C  1321   Laptop
8       8     A  1401  Printer
9       9     A  1408  Printer
10     10     D  1433  Printer
11     11     E  1434  Printer
12     12     B  1750   Laptop
13     13     A  1752   Laptop
14     14     E  2113       PC
15     15     E  2112       PC

In [13]:
import sys
!{sys.executable} -m pip install sqlitedict

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlitedict in /usr/local/lib/python3.7/dist-packages (2.0.0)

In [4]:
!pip3 install sqlitedict
import sqlitedict
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sqlitedict in /usr/local/lib/python3.7/dist-packages (2.0.0)

In [3]:
import sqlitedict
import pandas as pd

In [5]:
from sqlitedict import SqliteDict
mydict = SqliteDict('TestDB_key_value.sqlite', autocommit=True)

In [8]:
#--task4 (lesson7)
#-- sqlitedict: Внесите по ключу "lesson7_task2" текст задачи 2 из текущей классной работы

mydict['lesson7_task2'] = '--task2  (lesson7)\
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)'
#mydict['key2'] = ['123',123]
#mydict['key3'] = pd.DataFrame()
mydict.commit()
# mydict.close()

In [7]:
print(mydict['key1'])
print(mydict['key2'])
print(mydict['key3'])

value1
['123', 123]
Empty DataFrame
Columns: []
Index: []

In [9]:
print(mydict['lesson7_task2'])

--task2  (lesson7)-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)

In [11]:
mydict['lesson7_task1'] = """
--task1  (lesson7)
-- sqlite3: Перенести таблицы pc, printer, product & laptop 
в локальную sqlite3 (те сделать снэпшот этих таблиц из 
postgreSQL в sqlite3 через python).
"""
mydict.commit()

In [12]:
print([mydict['lesson7_task1']])

['\n--task1  (lesson7)\n-- sqlite3: Перенести таблицы pc, printer, product & laptop \nв локальную sqlite3 (те сделать снэпшот этих таблиц из \npostgreSQL в sqlite3 через python).\n']

In [15]:
!{sys.executable} -m pip install tinydb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tinydb
  Downloading tinydb-4.7.0-py3-none-any.whl (24 kB)
Requirement already satisfied: typing-extensions<5.0.0,>=3.10.0 in /usr/local/lib/python3.7/dist-packages (from tinydb) (4.2.0)
Installing collected packages: tinydb
Successfully installed tinydb-4.7.0

In [16]:
from tinydb import TinyDB, Query

In [17]:
from tinydb import TinyDB, Query
db = TinyDB('db.json')
db.insert({'int': 1, 'char': 'a'})
db.insert({'int': 1, 'char': 'b'})

2

In [18]:
User = Query()
db.search(User.char == 'a')

[{'char': 'a', 'int': 1}]

In [ ]:
--task6 (lesson7)
-- tinydb: Внесите по ключам "lesson":7 "task":2, "text": *текст задачи 2 из текущей классной работы*
######
--task2  (lesson7)
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)
######j.

In [24]:
from tinydb import TinyDB, Query
db = TinyDB('db1.json')

db.insert({'lesson': 7, 'task': 2, 'texttask':"""
-- sqlite3: сравнить скорость обработки таблиц sqlite3 vs postgresql на примере запроса: посчитать количество всех товаров стоимостью больше 500. (через %%time перед запросом в ноутбуке)
""" })

1

[]